 # Quick Polars Local Test.

In [3]:
import numpy as np
import polars as pl

In [4]:
# println!("hi there, from a rust cell");

# Read Data (classic or planned / "eager" or "lazy")

### Classic Loading ("eager")
`read_...` gives a command to immediately read a file and produce data based on what was read

In [5]:
# "eager" read
iris_data = pl.read_csv("../data/iris.csv")
print(iris_data)

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal.length ┆ sepal.width ┆ petal.length ┆ petal.width ┆ variety   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ Setosa    │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ Setosa    │
│ …            ┆ …           ┆ …            ┆ …           ┆ …         │
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ Virginica │
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ Virginica │
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ Virginica │
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ Virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

### Planned Loading ("lazy")
`scan_...` indicates requirements (e.g. data operations should be performed on data from this file)
when classic data is eventually requested all the requirements (e.g. data from this file, selecting these rows, filtering on those values, etc.) will be processed and a concrete plan executed.  Waiting until all the requirements are specified means the actual plan can be more efficient -- e.g. not reading from columns or rows that won't even be used.

In [6]:
# "lazy" loading: 
# (the plan is used when data itself is requested)
iris_data = pl.scan_csv("../data/iris.csv")
print(iris_data)

naive plan: (run LazyFrame.explain(optimized=True) to see the optimized plan)


  Csv SCAN ../data/iris.csv
  PROJECT */5 COLUMNS

# Print vs Engine-Render

In [7]:
iris_data = pl.read_csv("../data/iris.csv")
print(iris_data)  # prints out terminal style rendering
iris_data  # uses engine's chosen rendering

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal.length ┆ sepal.width ┆ petal.length ┆ petal.width ┆ variety   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ Setosa    │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ Setosa    │
│ …            ┆ …           ┆ …            ┆ …           ┆ …         │
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ Virginica │
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ Virginica │
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ Virginica │
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ Virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal.length ┆ sepal.width ┆ petal.length ┆ petal.width ┆ variety   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ Setosa    │
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ Setosa    │
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ Setosa    │
│ …            ┆ …           ┆ …            ┆ …           ┆ …         │
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ Virginica │
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ Virginica │
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ Virginica │
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ Virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

# Combining DataFrames

### Joining
(Left, Right, Inner, Outer)

Joining two DataFrames on a specified column.

In [8]:
rng = np.random.default_rng(8)  # generator object

df1 = pl.DataFrame(
    {
        "a": np.arange(0, 8),
        "b": rng.random(8),
        "d": [1, 2.0, np.NaN, np.NaN, 0, -5, -42, None],
    }
)

df2 = pl.DataFrame(
    {
        "x": np.arange(0, 8),
        "y": ["A", "A", "A", "B", "B", "C", "X", "X"],
    }
)

# Join the dataframes
joined = df1.join(df2, left_on="a", right_on="x")
print(joined)

shape: (8, 4)
┌─────┬──────────┬───────┬─────┐
│ a   ┆ b        ┆ d     ┆ y   │
│ --- ┆ ---      ┆ ---   ┆ --- │
│ i64 ┆ f64      ┆ f64   ┆ str │
╞═════╪══════════╪═══════╪═════╡
│ 0   ┆ 0.326972 ┆ 1.0   ┆ A   │
│ 1   ┆ 0.987277 ┆ 2.0   ┆ A   │
│ 2   ┆ 0.318711 ┆ NaN   ┆ A   │
│ 3   ┆ 0.788549 ┆ NaN   ┆ B   │
│ 4   ┆ 0.869897 ┆ 0.0   ┆ B   │
│ 5   ┆ 0.391085 ┆ -5.0  ┆ C   │
│ 6   ┆ 0.437882 ┆ -42.0 ┆ X   │
│ 7   ┆ 0.372749 ┆ null  ┆ X   │
└─────┴──────────┴───────┴─────┘

### Concatination
(Horizontal or vertical)

In [9]:
stacked = df1.hstack(df2)
print(stacked)

shape: (8, 5)
┌─────┬──────────┬───────┬─────┬─────┐
│ a   ┆ b        ┆ d     ┆ x   ┆ y   │
│ --- ┆ ---      ┆ ---   ┆ --- ┆ --- │
│ i64 ┆ f64      ┆ f64   ┆ i64 ┆ str │
╞═════╪══════════╪═══════╪═════╪═════╡
│ 0   ┆ 0.326972 ┆ 1.0   ┆ 0   ┆ A   │
│ 1   ┆ 0.987277 ┆ 2.0   ┆ 1   ┆ A   │
│ 2   ┆ 0.318711 ┆ NaN   ┆ 2   ┆ A   │
│ 3   ┆ 0.788549 ┆ NaN   ┆ 3   ┆ B   │
│ 4   ┆ 0.869897 ┆ 0.0   ┆ 4   ┆ B   │
│ 5   ┆ 0.391085 ┆ -5.0  ┆ 5   ┆ C   │
│ 6   ┆ 0.437882 ┆ -42.0 ┆ 6   ┆ X   │
│ 7   ┆ 0.372749 ┆ null  ┆ 7   ┆ X   │
└─────┴──────────┴───────┴─────┴─────┘

# Various

In [10]:
iris_type = type(iris_data)
df_type = type(df1)

print(iris_type)
print(df_type)

<class 'polars.dataframe.frame.DataFrame'>
<class 'polars.dataframe.frame.DataFrame'>

# Quick Views
(Head, Tail, Sample, Describe)

### Some Data to Look at

Creating datetime objects with builtin library. (note that no location is provided by default.)

In [11]:
import datetime

dfd = pl.DataFrame(
    {
        "integer": [1, 2, 3, 4, 5],
        "date": [
            datetime.datetime(2022, 1, 1),
            datetime.datetime(2022, 1, 2),
            datetime.datetime(2022, 1, 3),
            datetime.datetime(2022, 1, 4),
            datetime.datetime(2022, 1, 5),
        ],
        "float": [4.0, 5.0, 6.0, 7.0, 8.0],
        "words": ["alpha", "beta", "gaga", "delta", "eps"],
    },
)

print(dfd)

shape: (5, 4)
┌─────────┬─────────────────────┬───────┬───────┐
│ integer ┆ date                ┆ float ┆ words │
│ ---     ┆ ---                 ┆ ---   ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ str   │
╞═════════╪═════════════════════╪═══════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   ┆ alpha │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   ┆ beta  │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   ┆ gaga  │
│ 4       ┆ 2022-01-04 00:00:00 ┆ 7.0   ┆ delta │
│ 5       ┆ 2022-01-05 00:00:00 ┆ 8.0   ┆ eps   │
└─────────┴─────────────────────┴───────┴───────┘

Creating a datetime with the arrow module.  Note that we must exclusively convert to a datetime object.  Also note that a 'default' timezone is provided.

In [12]:
import arrow

dfd = pl.DataFrame(
    {
        "integer": [1, 2, 3, 4, 5],
        "date": [
            arrow.get("2022-01-01").datetime,
            arrow.get("2022-01-02").datetime,
            arrow.get("2022-01-03").datetime,
            arrow.get("2022-01-04").datetime,
            arrow.get("2022-01-05").datetime,
        ],
        "float": [4.0, 5.0, 6.0, 7.0, 8.0],
        "words": ["alpha", "beta", "gaga", "delta", "eps"],
    },
)

print(dfd)

shape: (5, 4)
┌─────────┬─────────────────────────┬───────┬───────┐
│ integer ┆ date                    ┆ float ┆ words │
│ ---     ┆ ---                     ┆ ---   ┆ ---   │
│ i64     ┆ datetime[μs, UTC]       ┆ f64   ┆ str   │
╞═════════╪═════════════════════════╪═══════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 UTC ┆ 4.0   ┆ alpha │
│ 2       ┆ 2022-01-02 00:00:00 UTC ┆ 5.0   ┆ beta  │
│ 3       ┆ 2022-01-03 00:00:00 UTC ┆ 6.0   ┆ gaga  │
│ 4       ┆ 2022-01-04 00:00:00 UTC ┆ 7.0   ┆ delta │
│ 5       ┆ 2022-01-05 00:00:00 UTC ┆ 8.0   ┆ eps   │
└─────────┴─────────────────────────┴───────┴───────┘

/var/folders/77/skc_0fn91yld6jpgpm315xy40000gq/T/ipykernel_37827/570647299.py:3: TimeZoneAwareConstructorWarning: Constructing a Series with time-zone-aware datetimes results in a Series with UTC time zone. To silence this warning, you can filter warnings of class TimeZoneAwareConstructorWarning, or set 'UTC' as the time zone of your datatype.
  dfd = pl.DataFrame(

In [13]:
print(dfd.head(2))
print(dfd.tail(2))
print(dfd.sample(2))

shape: (2, 4)
┌─────────┬─────────────────────────┬───────┬───────┐
│ integer ┆ date                    ┆ float ┆ words │
│ ---     ┆ ---                     ┆ ---   ┆ ---   │
│ i64     ┆ datetime[μs, UTC]       ┆ f64   ┆ str   │
╞═════════╪═════════════════════════╪═══════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 UTC ┆ 4.0   ┆ alpha │
│ 2       ┆ 2022-01-02 00:00:00 UTC ┆ 5.0   ┆ beta  │
└─────────┴─────────────────────────┴───────┴───────┘
shape: (2, 4)
┌─────────┬─────────────────────────┬───────┬───────┐
│ integer ┆ date                    ┆ float ┆ words │
│ ---     ┆ ---                     ┆ ---   ┆ ---   │
│ i64     ┆ datetime[μs, UTC]       ┆ f64   ┆ str   │
╞═════════╪═════════════════════════╪═══════╪═══════╡
│ 4       ┆ 2022-01-04 00:00:00 UTC ┆ 7.0   ┆ delta │
│ 5       ┆ 2022-01-05 00:00:00 UTC ┆ 8.0   ┆ eps   │
└─────────┴─────────────────────────┴───────┴───────┘
shape: (2, 4)
┌─────────┬─────────────────────────┬───────┬───────┐
│ integer ┆ date                    ┆ float ┆ words │
│ ---     ┆ ---                     ┆ ---   ┆ ---   │
│ i64     ┆ datetime[μs, UTC]       ┆ f64   ┆ str   │
╞═════════╪═════════════════════════╪═══════╪═══════╡
│ 2       ┆ 2022-01-02 00:00:00 UTC ┆ 5.0   ┆ beta  │
│ 4       ┆ 2022-01-04 00:00:00 UTC ┆ 7.0   ┆ delta │
└─────────┴─────────────────────────┴───────┴───────┘

In [14]:
print(dfd.glimpse())
dfd.describe()

Rows: 5
Columns: 4
$ integer               <i64> 1, 2, 3, 4, 5
$ date    <datetime[μs, UTC]> 2022-01-01 00:00:00+00:00, 2022-01-02 00:00:00+00:00, 2022-01-03 00:00:00+00:00, 2022-01-04 00:00:00+00:00, 2022-01-05 00:00:00+00:00
$ float                 <f64> 4.0, 5.0, 6.0, 7.0, 8.0
$ words                 <str> 'alpha', 'beta', 'gaga', 'delta', 'eps'

None

shape: (9, 5)
┌────────────┬──────────┬───────────────────────────┬──────────┬───────┐
│ describe   ┆ integer  ┆ date                      ┆ float    ┆ words │
│ ---        ┆ ---      ┆ ---                       ┆ ---      ┆ ---   │
│ str        ┆ f64      ┆ str                       ┆ f64      ┆ str   │
╞════════════╪══════════╪═══════════════════════════╪══════════╪═══════╡
│ count      ┆ 5.0      ┆ 5                         ┆ 5.0      ┆ 5     │
│ null_count ┆ 0.0      ┆ 0                         ┆ 0.0      ┆ 0     │
│ mean       ┆ 3.0      ┆ null                      ┆ 6.0      ┆ null  │
│ std        ┆ 1.581139 ┆ null                      ┆ 1.581139 ┆ null  │
│ min        ┆ 1.0      ┆ 2022-01-01 00:00:00+00:00 ┆ 4.0      ┆ alpha │
│ 25%        ┆ 2.0      ┆ null                      ┆ 5.0      ┆ null  │
│ 50%        ┆ 3.0      ┆ null                      ┆ 6.0      ┆ null  │
│ 75%        ┆ 4.0      ┆ null                      ┆ 7.0      ┆ null  │
│ max        ┆ 5.0      ┆ 2022-01-05 00:00:00+00:00 ┆ 8.0      ┆ gaga  │
└────────────┴──────────┴───────────────────────────┴──────────┴───────┘

# Contexts & Expressions

In [15]:
dfc = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", None],
        "random": np.random.default_rng(5).random(5),
        "groups": ["A", "A", "B", "C", "B"],
    },
)
print(dfc)

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.805003 ┆ A      │
│ 2    ┆ ham   ┆ 0.807941 ┆ A      │
│ 3    ┆ spam  ┆ 0.515326 ┆ B      │
│ null ┆ egg   ┆ 0.285801 ┆ C      │
│ 5    ┆ null  ┆ 0.053931 ┆ B      │
└──────┴───────┴──────────┴────────┘

### Select & With_Columns
> In the select context the selection applies expressions over columns.
> The expressions in this context must produce Seriesthat
> that are all the same length or have a length of 1.
>
> A Series of a length of 1 will be broadcasted to match the height of the DataFrame.
> Note that a select may produce new columns that are
> aggregations, combinations of expressions, or literals.

`Select`: only returns columns specified
`With_Columns`: adds specified columns to original

In [16]:
out_select = dfc.select(
    pl.sum("nrs"),  # note: that it takes original name if not given alias
    pl.col("nrs")
    .sum()
    .alias(
        "same as above",
    ),  # note that the above is a shorthand for this, modulo alias
    pl.col("names").sort(),
    pl.col("names").head(1).alias("first name"),
    (pl.mean("nrs") * 10).alias("10xnrs"),
)
print(out_select)


out_wcol = dfc.with_columns(
    pl.sum("nrs"),  # NOTE!: this ovewrites the original!
    pl.col("nrs")
    .sum()
    .alias(
        "same as above",
    ),  # note that the above is a shorthand for this, modulo alias
    pl.col("names").sort(),
    pl.col("names").head(1).alias("first name"),
    (pl.mean("nrs") * 10).alias("10xnrs"),
)
print(out_wcol)

shape: (5, 5)
┌─────┬───────────────┬───────┬────────────┬────────┐
│ nrs ┆ same as above ┆ names ┆ first name ┆ 10xnrs │
│ --- ┆ ---           ┆ ---   ┆ ---        ┆ ---    │
│ i64 ┆ i64           ┆ str   ┆ str        ┆ f64    │
╞═════╪═══════════════╪═══════╪════════════╪════════╡
│ 11  ┆ 11            ┆ null  ┆ foo        ┆ 27.5   │
│ 11  ┆ 11            ┆ egg   ┆ foo        ┆ 27.5   │
│ 11  ┆ 11            ┆ foo   ┆ foo        ┆ 27.5   │
│ 11  ┆ 11            ┆ ham   ┆ foo        ┆ 27.5   │
│ 11  ┆ 11            ┆ spam  ┆ foo        ┆ 27.5   │
└─────┴───────────────┴───────┴────────────┴────────┘
shape: (5, 7)
┌─────┬───────┬──────────┬────────┬───────────────┬────────────┬────────┐
│ nrs ┆ names ┆ random   ┆ groups ┆ same as above ┆ first name ┆ 10xnrs │
│ --- ┆ ---   ┆ ---      ┆ ---    ┆ ---           ┆ ---        ┆ ---    │
│ i64 ┆ str   ┆ f64      ┆ str    ┆ i64           ┆ str        ┆ f64    │
╞═════╪═══════╪══════════╪════════╪═══════════════╪════════════╪════════╡
│ 11  ┆ null  ┆ 0.805003 ┆ A      ┆ 11            ┆ foo        ┆ 27.5   │
│ 11  ┆ egg   ┆ 0.807941 ┆ A      ┆ 11            ┆ foo        ┆ 27.5   │
│ 11  ┆ foo   ┆ 0.515326 ┆ B      ┆ 11            ┆ foo        ┆ 27.5   │
│ 11  ┆ ham   ┆ 0.285801 ┆ C      ┆ 11            ┆ foo        ┆ 27.5   │
│ 11  ┆ spam  ┆ 0.053931 ┆ B      ┆ 11            ┆ foo        ┆ 27.5   │
└─────┴───────┴──────────┴────────┴───────────────┴────────────┴────────┘

# GroupBy

Generating a DataSet to use:

In [17]:
scores = {
    "Zone": [
        "North",
        "North",
        "North",
        "South",
        "South",
        "East",
        "East",
        "West",
        "West",
    ],
    "School": [
        "Rushmore",
        "Rushmore",
        "Rushmore",
        "Bayside",
        "Rydell",
        "Shermer",
        "Shermer",
        "Ridgemont",
        "Hogwarts",
    ],
    "Name": ["Jonny", "Mary", "Jim", "Joe", "Jakob", "Jimmy", "Erik", "Lam", "Yip"],
    "Math": [78, 39, 798, 76, 56, 67, 89, 100, 55],
    "Science": [80, 45, 80, 68, 90, 45, 66, 89, 32],
}


school_df = pl.DataFrame(scores)
print(school_df)

shape: (9, 5)
┌───────┬───────────┬───────┬──────┬─────────┐
│ Zone  ┆ School    ┆ Name  ┆ Math ┆ Science │
│ ---   ┆ ---       ┆ ---   ┆ ---  ┆ ---     │
│ str   ┆ str       ┆ str   ┆ i64  ┆ i64     │
╞═══════╪═══════════╪═══════╪══════╪═════════╡
│ North ┆ Rushmore  ┆ Jonny ┆ 78   ┆ 80      │
│ North ┆ Rushmore  ┆ Mary  ┆ 39   ┆ 45      │
│ North ┆ Rushmore  ┆ Jim   ┆ 798  ┆ 80      │
│ South ┆ Bayside   ┆ Joe   ┆ 76   ┆ 68      │
│ South ┆ Rydell    ┆ Jakob ┆ 56   ┆ 90      │
│ East  ┆ Shermer   ┆ Jimmy ┆ 67   ┆ 45      │
│ East  ┆ Shermer   ┆ Erik  ┆ 89   ┆ 66      │
│ West  ┆ Ridgemont ┆ Lam   ┆ 100  ┆ 89      │
│ West  ┆ Hogwarts  ┆ Yip   ┆ 55   ┆ 32      │
└───────┴───────────┴───────┴──────┴─────────┘

We choose to **group_by** (group *based on*) `zone` (N,S,E,W).
Then we choose to **agg**regate some columns (all of them in this case) based on that grouping.
So, for example, the `School` column becomes a list of all the values it previously had, aggregating based on the group_by we chose.

In [18]:
q = (
    school_df.lazy()
    .group_by(by="Zone")
    .agg(
        "School",
        "Name",
        "Math",
        "Science",
    )
)
q.collect()

shape: (4, 5)
┌───────┬───────────────────────────┬──────────────────────────┬───────────────┬──────────────┐
│ Zone  ┆ School                    ┆ Name                     ┆ Math          ┆ Science      │
│ ---   ┆ ---                       ┆ ---                      ┆ ---           ┆ ---          │
│ str   ┆ list[str]                 ┆ list[str]                ┆ list[i64]     ┆ list[i64]    │
╞═══════╪═══════════════════════════╪══════════════════════════╪═══════════════╪══════════════╡
│ North ┆ ["Rushmore", "Rushmore",  ┆ ["Jonny", "Mary", "Jim"] ┆ [78, 39, 798] ┆ [80, 45, 80] │
│       ┆ "Rushmo…                  ┆                          ┆               ┆              │
│ East  ┆ ["Shermer", "Shermer"]    ┆ ["Jimmy", "Erik"]        ┆ [67, 89]      ┆ [45, 66]     │
│ West  ┆ ["Ridgemont", "Hogwarts"] ┆ ["Lam", "Yip"]           ┆ [100, 55]     ┆ [89, 32]     │
│ South ┆ ["Bayside", "Rydell"]     ┆ ["Joe", "Jakob"]         ┆ [76, 56]      ┆ [68, 90]     │
└───────┴───────────────────────────┴──────────────────────────┴───────────────┴──────────────┘

Next we do the same, but also specify what we want to **filter** the data.  Specifically, we only want data where the `Zone` column has the value `East`.

Note: we don't need to concern ourselves with the fact that we aggregated and then filtered.  This uses `.lazy()` methods; so we're merely noting requirements.
When we call `.collect()` we request that our requirements are met and classic data is generated.  Polars will optimize the query as it's able.

In [19]:
q = (
    school_df.lazy()
    .group_by(by="Zone")
    .agg(
        "School",
        "Name",
        "Math",
        "Science",
    )
    .filter(pl.col("Zone") == "East")
)
q.collect()

shape: (1, 5)
┌──────┬────────────────────────┬───────────────────┬───────────┬───────────┐
│ Zone ┆ School                 ┆ Name              ┆ Math      ┆ Science   │
│ ---  ┆ ---                    ┆ ---               ┆ ---       ┆ ---       │
│ str  ┆ list[str]              ┆ list[str]         ┆ list[i64] ┆ list[i64] │
╞══════╪════════════════════════╪═══════════════════╪═══════════╪═══════════╡
│ East ┆ ["Shermer", "Shermer"] ┆ ["Jimmy", "Erik"] ┆ [67, 89]  ┆ [45, 66]  │
└──────┴────────────────────────┴───────────────────┴───────────┴───────────┘

Again we group by `Zone`, but *this* time we **agg**regate by a new (manufactured) column.
We create a new column named 'science standard deviation', that originates from the previous.
The new column knows the origin of its values and provides a standard deviation based on them, in accordance with the Zone values we groupeed by.

In [20]:
q = (
    school_df.lazy()
    .group_by(by="Zone")
    .agg(
        pl.col("Science").std().alias("Science_std"),
    )
)
q.collect()

shape: (4, 2)
┌───────┬─────────────┐
│ Zone  ┆ Science_std │
│ ---   ┆ ---         │
│ str   ┆ f64         │
╞═══════╪═════════════╡
│ South ┆ 15.556349   │
│ North ┆ 20.207259   │
│ East  ┆ 14.849242   │
│ West  ┆ 40.305087   │
└───────┴─────────────┘

### Note: order returned by groupby is effectively random
###       (presumably due to split-threading)

In [21]:
q = (
    school_df.lazy()
    .group_by(by="Zone")
    .agg(
        [
            pl.col("Science").count().alias("Number of Schools"),
            pl.col("Science").max().alias("Science(Max)"),
            pl.col("Science").min().alias("Science(Min)"),
            pl.col("Science").mean().alias("Science(Mean)"),
            pl.col("Math").max().alias("Math(Max)"),
            pl.col("Math").min().alias("Math(Min)"),
            pl.col("Math").mean().alias("Math(Mean)"),
        ],
    )
)
print(q.collect())

shape: (4, 8)
┌───────┬─────────────┬─────────────┬────────────┬────────────┬───────────┬───────────┬────────────┐
│ Zone  ┆ Number of   ┆ Science(Max ┆ Science(Mi ┆ Science(Me ┆ Math(Max) ┆ Math(Min) ┆ Math(Mean) │
│ ---   ┆ Schools     ┆ )           ┆ n)         ┆ an)        ┆ ---       ┆ ---       ┆ ---        │
│ str   ┆ ---         ┆ ---         ┆ ---        ┆ ---        ┆ i64       ┆ i64       ┆ f64        │
│       ┆ u32         ┆ i64         ┆ i64        ┆ f64        ┆           ┆           ┆            │
╞═══════╪═════════════╪═════════════╪════════════╪════════════╪═══════════╪═══════════╪════════════╡
│ North ┆ 3           ┆ 80          ┆ 45         ┆ 68.333333  ┆ 798       ┆ 39        ┆ 305.0      │
│ West  ┆ 2           ┆ 89          ┆ 32         ┆ 60.5       ┆ 100       ┆ 55        ┆ 77.5       │
│ South ┆ 2           ┆ 90          ┆ 68         ┆ 79.0       ┆ 76        ┆ 56        ┆ 66.0       │
│ East  ┆ 2           ┆ 66          ┆ 45         ┆ 55.5       ┆ 89        ┆ 67        ┆ 78.0       │
└───────┴─────────────┴─────────────┴────────────┴────────────┴───────────┴───────────┴────────────┘

### `.sort()` can be used to deal with the variable ordering

In [22]:
q = (
    school_df.lazy()
    .group_by(by="Zone")
    .agg(
        [
            pl.col("Science").count().alias("Number of Schools"),
            pl.col("Science").max().alias("Science(Max)"),
            pl.col("Science").min().alias("Science(Min)"),
            pl.col("Science").mean().alias("Science(Mean)"),
            pl.col("Math").max().alias("Math(Max)"),
            pl.col("Math").min().alias("Math(Min)"),
            pl.col("Math").mean().alias("Math(Mean)"),
        ],
    )
    .sort(by="Zone")
)
print(q.collect())

shape: (4, 8)
┌───────┬─────────────┬─────────────┬────────────┬────────────┬───────────┬───────────┬────────────┐
│ Zone  ┆ Number of   ┆ Science(Max ┆ Science(Mi ┆ Science(Me ┆ Math(Max) ┆ Math(Min) ┆ Math(Mean) │
│ ---   ┆ Schools     ┆ )           ┆ n)         ┆ an)        ┆ ---       ┆ ---       ┆ ---        │
│ str   ┆ ---         ┆ ---         ┆ ---        ┆ ---        ┆ i64       ┆ i64       ┆ f64        │
│       ┆ u32         ┆ i64         ┆ i64        ┆ f64        ┆           ┆           ┆            │
╞═══════╪═════════════╪═════════════╪════════════╪════════════╪═══════════╪═══════════╪════════════╡
│ East  ┆ 2           ┆ 66          ┆ 45         ┆ 55.5       ┆ 89        ┆ 67        ┆ 78.0       │
│ North ┆ 3           ┆ 80          ┆ 45         ┆ 68.333333  ┆ 798       ┆ 39        ┆ 305.0      │
│ South ┆ 2           ┆ 90          ┆ 68         ┆ 79.0       ┆ 76        ┆ 56        ┆ 66.0       │
│ West  ┆ 2           ┆ 89          ┆ 32         ┆ 60.5       ┆ 100       ┆ 55        ┆ 77.5       │
└───────┴─────────────┴─────────────┴────────────┴────────────┴───────────┴───────────┴────────────┘

### Here's one hack to create custom ordering :
### joining another dataframe and hiding an invisible ordering column

In [23]:
df_sortorder = pl.DataFrame(
    {
        "Zone": ["North", "South", "East", "West"],
        "Zone_order": [0, 1, 2, 3],
    },
).lazy()

q = (
    school_df.lazy()
    .join(df_sortorder, on="Zone", how="left")
    .group_by(by=["Zone", "Zone_order"])
    .agg([pl.max("Science").alias("Science(Max)")])
    .sort("Zone_order")  # we sort on zone_order here
    .select(pl.exclude("Zone_order"))  # and then exclude it
)
q.collect()

shape: (4, 2)
┌───────┬──────────────┐
│ Zone  ┆ Science(Max) │
│ ---   ┆ ---          │
│ str   ┆ i64          │
╞═══════╪══════════════╡
│ North ┆ 80           │
│ South ┆ 90           │
│ East  ┆ 66           │
│ West  ┆ 89           │
└───────┴──────────────┘

# Insurance CSV

In [24]:
insurance_df = pl.scan_csv("../data/insurance.csv")
insurance_df.collect()

shape: (1_338, 7)
┌─────┬────────┬────────┬──────────┬────────┬───────────┬─────────────┐
│ age ┆ sex    ┆ bmi    ┆ children ┆ smoker ┆ region    ┆ charges     │
│ --- ┆ ---    ┆ ---    ┆ ---      ┆ ---    ┆ ---       ┆ ---         │
│ i64 ┆ str    ┆ f64    ┆ i64      ┆ str    ┆ str       ┆ f64         │
╞═════╪════════╪════════╪══════════╪════════╪═══════════╪═════════════╡
│ 19  ┆ female ┆ 27.9   ┆ 0        ┆ yes    ┆ southwest ┆ 16884.924   │
│ 18  ┆ male   ┆ 33.77  ┆ 1        ┆ no     ┆ southeast ┆ 1725.5523   │
│ 28  ┆ male   ┆ 33.0   ┆ 3        ┆ no     ┆ southeast ┆ 4449.462    │
│ 33  ┆ male   ┆ 22.705 ┆ 0        ┆ no     ┆ northwest ┆ 21984.47061 │
│ …   ┆ …      ┆ …      ┆ …        ┆ …      ┆ …         ┆ …           │
│ 18  ┆ female ┆ 31.92  ┆ 0        ┆ no     ┆ northeast ┆ 2205.9808   │
│ 18  ┆ female ┆ 36.85  ┆ 0        ┆ no     ┆ southeast ┆ 1629.8335   │
│ 21  ┆ female ┆ 25.8   ┆ 0        ┆ no     ┆ southwest ┆ 2007.945    │
│ 61  ┆ female ┆ 29.07  ┆ 0        ┆ yes    ┆ northwest ┆ 29141.3603  │
└─────┴────────┴────────┴──────────┴────────┴───────────┴─────────────┘

In [25]:
(
    pl.scan_csv("../data/insurance.csv")
    .group_by(by="sex")
    .agg(
        [pl.col("charges").sum()],
    )
).collect()

shape: (2, 2)
┌────────┬──────────┐
│ sex    ┆ charges  │
│ ---    ┆ ---      │
│ str    ┆ f64      │
╞════════╪══════════╡
│ female ┆ 8.3211e6 │
│ male   ┆ 9.4348e6 │
└────────┴──────────┘

The logical operation actually creates a boolean value for each entry.  That can act as a value itself.
It can also be used in a reverse-truthy manner ("numbry"?) allowing calculations or other operations on the values.

In [26]:
q = (
    pl.scan_csv("../data/insurance.csv")
    .group_by(by="region")
    .agg(
        [
            (pl.col("sex") == "male").alias("is_male"),
            (pl.col("sex") == "male").sum().alias("#of male"),
            (pl.col("sex") == "female").sum().alias("#of female"),
        ],
    )
    .sort(by="region")
)
q.collect()

shape: (4, 4)
┌───────────┬────────────────────────┬──────────┬────────────┐
│ region    ┆ is_male                ┆ #of male ┆ #of female │
│ ---       ┆ ---                    ┆ ---      ┆ ---        │
│ str       ┆ list[bool]             ┆ u32      ┆ u32        │
╞═══════════╪════════════════════════╪══════════╪════════════╡
│ northeast ┆ [true, true, … false]  ┆ 163      ┆ 161        │
│ northwest ┆ [true, true, … false]  ┆ 161      ┆ 164        │
│ southeast ┆ [true, true, … false]  ┆ 189      ┆ 175        │
│ southwest ┆ [false, true, … false] ┆ 163      ┆ 162        │
└───────────┴────────────────────────┴──────────┴────────────┘

In [27]:
q = (
    pl.scan_csv("../data/insurance.csv")
    .group_by(by="region")
    .agg(
        [
            (pl.col("charges").filter(pl.col("sex") == "male"))
            .mean()
            .alias("male_mean_charges"),
            (pl.col("charges").filter(pl.col("sex") == "female"))
            .mean()
            .alias("female_mean_charges"),
            (pl.col("charges").filter(pl.col("sex") == "male")).alias("male_charge_list"),
        ],
    )
    .sort(by="region")
)
q.collect()

shape: (4, 4)
┌───────────┬───────────────────┬─────────────────────┬───────────────────────────────────┐
│ region    ┆ male_mean_charges ┆ female_mean_charges ┆ male_charge_list                  │
│ ---       ┆ ---               ┆ ---                 ┆ ---                               │
│ str       ┆ f64               ┆ f64                 ┆ list[f64]                         │
╞═══════════╪═══════════════════╪═════════════════════╪═══════════════════════════════════╡
│ northeast ┆ 13854.005374      ┆ 12953.203151        ┆ [6406.4107, 2721.3208, … 13143.3… │
│ northwest ┆ 12354.119575      ┆ 12479.870397        ┆ [21984.47061, 3866.8552, … 10600… │
│ southeast ┆ 15879.617173      ┆ 13499.669243        ┆ [1725.5523, 4449.462, … 9377.904… │
│ southwest ┆ 13412.883576      ┆ 11274.411264        ┆ [1826.843, 1837.237, … 10325.206… │
└───────────┴───────────────────┴─────────────────────┴───────────────────────────────────┘

In [28]:
q = (
    pl.scan_csv("../data/insurance.csv")
    .group_by(by="region")
    .agg(
        [
            pl.col("smoker").count().alias("smoker_Q_count"),
            (pl.col("smoker") == "yes").sum().alias("yes_smoker_count"),
            (pl.col("smoker") == "no").sum().alias("no_smoker_count"),
        ],
    )
)

q.collect()

shape: (4, 4)
┌───────────┬────────────────┬──────────────────┬─────────────────┐
│ region    ┆ smoker_Q_count ┆ yes_smoker_count ┆ no_smoker_count │
│ ---       ┆ ---            ┆ ---              ┆ ---             │
│ str       ┆ u32            ┆ u32              ┆ u32             │
╞═══════════╪════════════════╪══════════════════╪═════════════════╡
│ northwest ┆ 325            ┆ 58               ┆ 267             │
│ southeast ┆ 364            ┆ 91               ┆ 273             │
│ northeast ┆ 324            ┆ 67               ┆ 257             │
│ southwest ┆ 325            ┆ 58               ┆ 267             │
└───────────┴────────────────┴──────────────────┴─────────────────┘

### NOTE: `.count()` counts all entries,
###       `.sum()` counts all values that are true (assuming a boolean on column)

In [29]:
q = (
    pl.scan_csv("../data/insurance.csv")
    .group_by(by="region")
    .agg([(pl.col("smoker") == "yes").sum()])
    .sort(by="region")
)
q.collect()

shape: (4, 2)
┌───────────┬────────┐
│ region    ┆ smoker │
│ ---       ┆ ---    │
│ str       ┆ u32    │
╞═══════════╪════════╡
│ northeast ┆ 67     │
│ northwest ┆ 58     │
│ southeast ┆ 91     │
│ southwest ┆ 58     │
└───────────┴────────┘